---
layout: default
---


<div class="container fullwidth-cont header">
  <div class="row introduction">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1 class="header-title">Futurice OSS</h1>
      <p class="header-text">We are a software house, so we work with and produce a lot of software. We have a coordinated effort to open source as much of it as possible, as well as to contribute to the OSS projects we benefit from. This page lists some highlights of our work. Check out <a href="http://www.spiceprogram.org">Spice Program</a> to learn more about our OSS activities and culture.</p>
    </div>
  </div>
</div>


<div class="container projects">
{% for category in site.projects %}
  <h2 class="category" id="{{category.category_name}}">{{category.category_name}}</h2>

{% for project in category.contains %}
  <div class="row row-no-padding project">
    <div class="col-sm-4 col-md-4 screenshot nopadding">
      <img src="{{project.screenshot}}" class="img-responsive screenshot" />
    </div>
    <div class="col-sm-8 col-md-8 info">
      <h1 class="title">{{project.title}}</h1>

      {% capture description %}{% include {{project.description}} %}{% endcapture %}
      <div class="description wordwrap">{{ description | markdownify }}</div>
        <div class="info-bottom">
          <a href="https://github.com/futurice/{{project.github_repo_name}}" class="btn btn-primary" role="button"><span class="btntext">Source</span><span class="mega-octicon octicon-mark-github" id="github-logo"></span></a>
          <span class="github-info first-icon" id="stars_{{project.github_repo_name}}"></span>
          <span class="mega-octicon octicon-star github-icon" id="icon_stars_{{project.github_repo_name}}"></span>
          <span class="github-info" id="forks_{{project.github_repo_name}}"></span>
          <span class="mega-octicon octicon-repo-forked github-icon" id="icon_forks_{{project.github_repo_name}}"></span>
        </div>
    </div>
  </div>
{% endfor %}
{% endfor %}
</div>
