#footer {
	padding: 80px 0;
	width: 100%;
	background-color: #fff;
	display: block;

	a {
		color: #4c9018;
	}

	a:hover {
		color: #4c9018;
	}

	a:visited {
		color: #4c9018;
	}

	.footer-logo {
		font-weight: 900;
		font-size: 16px;
	}

	.footer-links {
		font-size: 16px;
	}

	.footer-description {
		font-size: 16px;
	}
}
